  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
    env:
      version: ${{ needs.build.outputs.version }}

    steps:
      - name: Download distribution artifact
        uses: actions/download-artifact@v4
        with:
          name: package

      - name: Create OIDC token to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT }}:role/${{ secrets.CI_IAM_ROLE }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up machine emulation
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker build
        uses: docker/setup-buildx-action@v3

      - name: Build and push container image
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: 'jwt-pizza-service'
        run: |
          docker build --platform=linux/arm64 -t $ECR_REGISTRY/$ECR_REPOSITORY:$version .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$version
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$version" >> $GITHUB_OUTPUT

      - name: Deploy new container
        run: |
          aws ecs update-service \
            --cluster jwt-pizza-service \
            --service jwt-pizza-service \
            --force-new-deployment



